@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');




html{
    font-family: 'Roboto', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

.grid{
    display: grid;
    grid-template-columns: auto, 1fr;
    grid-gap: 7px;
    grid-template-rows: auto 1fr 1fr auto;
    grid-template-areas:
    "navbar navbar"
    "links maincontent"
    "links maincontent"
    "footer footer";

}


.header{
    grid-area: navbar;

}
.links{
    grid-area: links;
}
.maincontent{
    grid-area: maincontent;
    justify-self: center;
}
.Footer{
    grid-area: footer;
}






/* navition bar */
.header{
    margin: 0;
    padding: 0;
}
.navbar {
    display: flex;
    flex-direction: column; 

    list-style: none;
    margin: 20px 20px auto 30px;
    background-color: #ecf0f1;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.navbar li{
    display: inline;
    padding: 20px;
    margin: 10px auto;

}
.navbar a{
    color: #848484;
    font-size: 17pt;
    text-decoration: none;
    text-align: center;
    padding: 20px 0;
    display: inline;
    position: relative;
    transition: all 0.3s ease;
}
.navbar a:hover {
    color: #e74c3c;
}
.navbar a::before{
    content: "";
    transition: all 0.4s ease-in-out;
    position: absolute;
    right: 50%;
    left: 50%;
    bottom: 0;
    height: 2px;
    background-color: #e74c3c;
}
.navbar a:hover::before {
    right: 0;
    left: 0;
}
.navbar li.icon{
display: none;
}








/* style for photos */
.photoRio{
    max-width: 70%; 
    display:block; 
    height: auto;
    
}
#video{
    object-position: inherit;
    border: 3px solid rgb(171, 141, 141);
    object-fit: none;
}




/* sidebar style */
.sidebar h2 {
    text-align: center;
    padding: 15px;
    color: rgb(240, 25, 25);
}

.sidebar ul {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
}

.sidebar li {
    font-family: 'Roboto', sans-serif;
    background-color: #ecf0f1;
    font-size: 16pt;
    border-bottom: 3px solid#ccc;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

}
.sidebar li:last-child {
    border: none;
}
.sidebar a:hover {
    background-color: #e74c3c;
}

.sidebar a {
    text-decoration: none;
    color: #000;
    display: block;

}
.sidebar a::before{
    content: "";
    transition: all 0.4s ease-in-out;
    right: 50%;
    left: 50%;
    bottom: 0;
    height: 2px;
    background-color: #e74c3c;
}
.sidebar a:hover::before {
    right: 0;
    left: 0;
}

/* footer style */
.social-icons {
    text-align: center;
    }  
.social-icons li {
    display:inline-block;
    list-style-type:none;
    -webkit-user-select:none;
    -moz-user-select:none;
}
.social-icons li a {
    border-bottom: none;
}
.social-icons li img {
    width:70px;
    height:70px;
    margin-right: 20px;
    border-radius: 10px;
}


/* navbar responsive for max-width screen */
@media screen and (max-width: 600px) {
    .navbar li:not(:first-child) {
        display: none;
    }

    .navbar li.icon {
        display: block;
        position: absolute;
        right: 30px;
        top: 5px;

    }


    .navbar.responsive {
        position: relative;
        text-align: center;
        display: block;
    }
    .navbar.responsive li.icon {
        position: absolute;
        right: 30px;
        top: 5px;
    }
    .navbar.responsive li {
        display: block;
        float: none;
    }
    



    .sidebar li{
        text-align: center;
    }
    .photoRio
    {
        max-width: 100%; 
        display:block; 
        height: auto;
    }
    .grid {
        /* grid declaration styles */
        display: grid;
        width: 100%;
        margin: 0 auto;

        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        grid-gap: 10px;
    
        grid-template-areas:
        "navbar"
        "links"
        "maincontent"
        "footer";
    }

}






@media only screen and (max-width: 350px) {

    .grid {
        /* grid declaration styles */
        display: grid;
        width: 100%;
        margin: 0 auto;

        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        grid-gap: 10px;
    
        grid-template-areas:
        "navbar"
        "links"
        "maincontent"
        "footer";
    }
    .video{
        width: 360px;
        height: 100%;
    }
    .photoRio{
        min-width: 350px;
        min-height: 500px;
    }
}

